<nav class="main-navigation">
    <ul>
        {{#each navlinks}}
            <li>
                <a href="{{{url}}}">
                    {{{caption}}}
                </a>
            </li>
        {{/each}}
    </ul>
</nav>
