<!-- Folkhack Content Styleguide -->

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<img src="{{ file.frontMatter.base_url }}{{ img_base_url }}/vendor/holygrail/banner_test.jpg" style="width: 450px;" title="Test Image" alt="Test Image" class="alignright" />

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>Heading 2</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h3>Heading 3</h3>

<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h4>Heading 4</h4>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>

<h5>Heading 5</h5>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>

<h6>Heading 6</h6>

<div class="neat_row">

	<div class="neat_col_6">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	</div>

	<div class="neat_col_6">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

	</div>

</div>

<hr />

<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<blockquote>Blockquote - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><cite>Cite Author Name Here</cite></blockquote>

<h3>Lists</h3>

<h4>Unordered List</h4>
<ul>
	<li>Unordered list test</li>
	<li>Another list element. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
	<li>Yet another element in the list</li>
	<li>Some long text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
</ul>

<h4>Ordered List</h4>
<ol>
	<li>Ordered list test</li>
	<li>Another list element</li>
	<li>Yet another element in the list</li>
</ol>

<h4>Nested Ordered List</h4>
<ol>
	<li>Expanded Nested Ordered List
		<ol>
			<li>A list element</li>
			<li>Another list element
				<ol>
					<li>A third level list element</li>
					<li>Another third level list element</li>
					<li>A longer third level list elementt</li>
					<li>Another list element</li>
				</ol>
			</li>
			<li>Another longer list element</li>
			<li>Another list element</li>
		</ol>
	</li>
</ol>

<h4>Definition Lists</h4>

<dl><dt>DT Lorem ipsum dolor sit amet</dt><dd>DD consectetuer adipiscing elit</dd><dd>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd></dl><dl><dt>definition list dt</dt><dd>definition list dd definition list dd definition list dd</dd></dl>

<hr />

<h3>Misc Paragraph Treatments</h3>

<p><a>&lt;a&gt; anchor</a></p>
<p><a href="http://www.google.com">&lt;a&gt; a + href</a></p>
<p><em>&lt;em&gt; emphasis</em></p>
<p><b>&lt;b&gt; bold</b></p>
<p><i>&lt;i&gt; italic</i></p>
<p><small>&lt;small&gt; small print</small></p>
<p><strong>&lt;strong&gt; strong</strong></p>
<p>&lt;sup&gt; Superscript<sup>1</sup></p>

<h3>Table</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Table Header One</th>
			<th>Table Header Two</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">tfoot footer</td>
		</tr>
	</tfoot>
	<tbody>
		<tr class="even">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="odd">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="even">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="odd">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="even">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="odd">
			<td>TD One</td>
			<td>TD Two</td>
		</tr>
		<tr class="even">
			<td colspan="2"><p>&lt;p&gt; inside &lt;td&gt; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></td>
		</tr>
	</tbody>
</table>