<link rel="stylesheet" href="/css/part/_smartgroups.css">

<div class="ibox" ng-app="sgList" ng-controller="smartGroupList">
    <div class="ibox-title"  >
        <h5>{[{sgList}]}</h5>
        <div class="ibox-tools">
            <a href="javascript:void(0);" id="add-smartgroup" title="{[{addSmartGroup}]}">
                <i class="fa fa-plus-square-o"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover" id="list_table"></table>
    </div>
</div>

<script src="/js/angularJs/_smartgroups.js"></script>

