<div class="modal" id="smsPersonalityModal" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="smsClose">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{[{personalitySms}]}</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div id="boxeArea"></div>
                    <div style="margin-top: 5px;">
                        <button class="btn btn-white pull-right" id="refreshCount" style="margin-left: 10px;">{[{refresh}]}</button>
                        <button type="button" class="btn btn-white pull-right" data-dismiss="modal" style="margin-left: 10px;" id="smsCancel">{[{close}]}</button>
                        <button class="btn btn-primary pull-right" id="smsConfirm" >{[{confirm}]}</button>
                        <button class="btn btn-primary pull-left" id="saveStrategy" >{[{saveStrategy}]}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

