
<div class="ibox" ng-app="wk" ng-controller="wkTable" ng-cloak>
    <div class="ibox-title">
        <h5>{[{flowList}]}</h5>
        <div class="ibox-tools">
            <a href="javascript:void(0);" onclick="newWorkFLow();" title="{[{addWorkFlow}]}">
                <i class="fa fa-plus-square-o" style="color: #18a689;font-size: 20px;"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table table-striped table-bordered table-hover " id="workflow_table"></table>
    </div>
</div>


<script src="/js/angularJs/_workflows.js"></script>