<div id="canvasBtnGroup" ng-app="work" ng-controller="workFlow" ng-cloak>
    <button id="show" class="btn btn-info" title="{[{preview}]}"><i class="fa fa-binoculars"></i></button>
    <button id="save" class="btn btn-info" title="{[{save}]}"><i class="fa fa-save" title="{[{save}]}"></i></button>
    <button id="delete" class="btn btn-info" title="{[{del}]}"><i class="fa fa-trash"></i></button>
    <button id="clear" class="btn btn-info" title="{[{clear}]}"><i class="fa fa-eraser"></i></button>
    <button id="remove" class="btn btn-info" title="{[{finish}]}"><i class="fa fa-stop"></i></button>
    <button id="publish" class="btn btn-info" title="{[{flowCheck}]}"><i class="fa fa-check"></i></button>
    <button id="run" class="btn btn-info" title="{[{play}]}"><i class="fa fa-play"></i></button>
    <button id="stop" class="btn btn-info" title="{[{pause}]}"><i class="fa fa-pause"></i></button>
    <button id="allEnd" class="btn btn-info" title="{[{stop}]}"><i class="fa fa-power-off"></i></button>
    <button id="addWorkflow" class="btn btn-info" title="{[{addWorkFlow}]}"><i class="fa fa-plus"></i></button>
    <button id="workflowReport" class="btn btn-info" title="{[{roi}]}"><i class="fa fa-line-chart"></i></button>
</div>
<div id="canvases">
    <canvas width="600" height="200" style="cursor: auto;background-color: white;"></canvas>
</div>

<script src="/js/angularJs/_workflow.js"></script>