<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<!-- build:css /css/main.css -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrapValidator.min.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

<link href="/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/css/plugins/letterfx/jquery-letterfx.min.css" rel="stylesheet">


<link href="/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

<link href="/css/animate.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<link href="/css/workflow.css" rel="stylesheet">
<!-- endbuild -->


<!-- build:js /js/main.js -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/bootstrapValidator/bootstrapValidator.min.js"></script>
<script src="/js/plugins/jquery-ui/jquery.cookie.js"></script>
<script src="/js/angular.min.js"></script>
<script src="/js/react/react.min.js"></script>
<script src="/js/react/react-dom.min.js"></script>
<script src="/js/react/browser.min.js"></script>

<script src="/js/plugins/md5/md5.min.js"></script>
<script src="/js/plugins/iCheck/icheck.min.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/plugins/select2/select2.full.min.js"></script>
<script src="/js/plugins/toastr/toastr.min.js"></script>
<script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<script src="/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/js/plugins/letterfx/jquery-letterfx.min.js"></script>

<script src="/js/inspinia.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/config.js"></script>
<script src="/js/common.js"></script>

<script src="/js/cocatn/workflowDao.js"></script>
<script src="/js/cocatn/smartgroupDao.js"></script>
<script src="/js/cocatn/platformDao.js"></script>
<script src="/js/cocatn/platDao.js"></script>
<script src="/js/cocatn/personalizeDao.js"></script>

<script src="/lang/lang.js"></script>
<script src="/lang/selectLang.js"></script>

<script src="/js/constants.js"></script>

<script src="/js/plugins/navMenu/navMenuPlugin.js"></script>

<script src="/js/plugins/modal/modal.form.js"></script>

<script src="/js/job/sendEmail.js"></script>
<script src="/js/job/sendSms.js"></script>

<script src="/js/smartgroup/smartgroupPlugin.js"></script>
<script src="/js/smartgroup/smartgroup.filter.js"></script>

<script src="/js/plugins/loading/prefixfree.min.js"></script>
<!-- endbuild -->