
<!-- build:css /css/loading.css -->
<link rel="stylesheet" href="/css/loading.css">
<!--endbuild-->
<div id="xrewinLoadingWrap">
    <canvas id="c"></canvas>
    <div class="xremin-mask"></div>
</div>
<!-- build:js /js/loading.js -->

<script src="/js/plugins/loading/index.js"></script>
<!--endbuild-->

