<link rel="stylesheet" href="/css/part/top.css">

<div >
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                        class="fa fa-sliders"></i></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <select name="lang" id="lang" style="border: 0;background: inherit;    font-size: 12px;">
                            <option value="">中文</option>
                            <option value="en">英文</option>
                        </select>
                </li>
                <li id="userInfo">
                    <a href="javascript:void(0);" id="userName"><i class="fa fa-user"></i></a>

                    <div id="userInfoContent">
                        <p><span id="loginTime"></span>：<br><span>2016/1/1</span></p>

                        <p><span id="memberScore"></span>：<br><span>99999</span></p>
                    </div>
                </li>
                <li style="cursor: pointer;">
                    <span data-href="/parameterSetting.html" name="parameterSetting" id="setting">
                        <div class="text-muted text-xs block">
                            <i class="fa fa-cogs"></i>
                        </div>
                    </span>

                </li>
            </ul>
        </nav>
    </div>
    <div id="content_breadcrumb" class="row wrapper border-bottom white-bg page-heading" style="padding: 5px 0;">
        <div class="col-lg-10" style="margin-left: 5px;">
            <h3 id="page_title"></h3>
            <ol id="page_breadcrumb" class="breadcrumb">
                <li>
                    <a href="/index.html" id="homePage"></a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script src="/js/angularJs/top.js"></script>