<!DOCTYPE html>
<html>
<head>
    {{> header}}
</head>
<body>
<div id="wrapper" ng-app="group">
    {{> menu}}
    <div id="page-wrapper" class="gray-bg">
         {{> top}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12" ng-controller="fixGroup" ng-cloak>
                    {{> _FixGroupMembers}}
                </div>
            </div>
        </div>
         {{> footer}}
    </div>
</div>
{{> loading}}

<!-- build:js /js/fixGroupMember.js -->

<script src="/js/tableList/fixGroupMemberTable.js"></script>
<script src="/js/cocatn/smartgroupDao.js"></script>
<!--endbuild-->
</body>
</html>
