<!DOCTYPE html>
<html>
<head>
    {{> header}}
</head>
<body>
<div id="wrapper">
    {{> menu}}
    <div id="page-wrapper" class="gray-bg">
        {{> top}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12" ng-app="smart">

                    {{> _fixgroupTable}}
                    {{> _fixgroup}}
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</div>
{{loading}}
<!-- build:js /js/fixgroups.js -->

<script src="/js/tableList/fixSmartgroupsTable.js"></script>
<script src="/js/tableList/memberTable.js"></script>
<script src="/js/cocatn/smartgroupDao.js"></script>
<!--endbuild-->
</body>
</html>