<!DOCTYPE html>
<html>
<head>
    <!-- build:css /css/individuation.css -->
    <link href="/css/individuation.css" rel="stylesheet">
    <!--endbuild-->
    {{> header}}
</head>
<body>
{{> _individuation}}
{{> loading}}


<script src="/js/plugins/individuationCondition/individuationCondition.js"></script>
<script src="/js/individuation/individuationPlugin.js"></script>
<script src="/js/plugins/ckeditor/ckeditor.js"></script>
<script src="/js/plugins/ckeditor/adapters/jquery.js"></script>
<script src="/js/individuation/individuation.js"></script>
<script src="/js/plugins/jquery-ui/jquery.mousewheel.js"></script>
<script src="/js/plugins/jquery-ui/jquery.zclip.min.js"></script>
<script src="/js/cocatn/personalizeDao.js"></script>
<script src="/js/cocatn/smartgroupDao.js"></script>
<script src="/js/cocatn/platformDao.js"></script>

</body>
</html>
