<!DOCTYPE html>
<html>
<head>
    {{> header}}

</head>
<body>
<!-- build:css /css/_preview.css -->
<link rel="stylesheet" href="/css/preview.css">
<!--endbuild-->

<div id="wrapper">
    {{> _preview}}
</div>
{{> loading}}
<!-- build:js /js/preview.js -->

<script src="/js/cocatn/personalizeDao.js"></script>
<script src="/js/preview/preview.js"></script>
<!--endbuild-->
</body>
</html>