<!DOCTYPE html>
<html lang="en">
<head>
    <!-- build:css /css/_smsTotalCase.css-->
    <link rel="stylesheet" href="/css/part/_smsTotalCase.css">
    <!-- endbuild -->
    {{> header}}
</head>
<body>
{{> _smsTotalCase}}
<!-- build:js /js/smsTotalCase.js -->
<script src="/js/angularJs/_smsTotalCase.js"></script>
<script src="/js/plugins/tab/tab.js"></script>
<script src="/js/plugins/echarts/echarts.min.js"></script>
<script src="/js/tableList/reportTable.js"></script>
<script src="/js/chart/eChart.js"></script>
<script src="/js/totalCase/smsTotalCase.js"></script>
<!--endbuild-->
</body>
</html>