<!DOCTYPE html>
<html>
<head>
    <!-- build:css /css/_smartGroupModal.css -->
    <link rel="stylesheet" href="/css/plugins/smartGroupModal/smartGroupModal.css">
    <!--endbuild-->
    {{> header}}

</head>
<body>
<div id="wrapper">
    {{> menu}}
    <div id="page-wrapper" class="gray-bg">
        {{> top}}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{> _workflow}}
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</div>
<!-- build:js /js/workflow.js -->
<script src="/js/plugins/smartGroupModal/smartGroupModal.js"></script>
<script src="/js/plugins/jcanvas/jcanvas.js"></script>
<script src="/js/plugins/jcanvas/plugins/jcanvas-tooltip.js"></script>
<script src="/js/plugins/modal/modal.workflow.js"></script>
<script src="/js/workflow/workflow.jcanvas.js"></script>
<script src="/js/workflow/workContent.js"></script>
<!--endbuild-->
</body>
</html>