<img class="alignright" src="http://lorempixel.com/400/400/nature" title="Test Image" alt="Test Image" />

{{> "components/styleguide/lorem_p_1" }}

{{> "components/styleguide/hps" }}

<hr>

<p class="additional">

   <em>By <a href="#">John Parks</a> on 11/15/2014 11:32pm<br>

   In <a href="#">Web Development</a>, <a href="#">Web Design</a><br>

   Tagged <a href="#">Mobile</a>, <a href="#">Responsive Design</a>, <a href="#">Layout</a></em>

</p>
