<article>

    <h2><a href="#">Post With Excerpt, Categories, Tags, and Featured Image</a></h2>

    <div class="featured_img">
        <img src="http://lorempixel.com/400/350/nature" title="Test Image" alt="Test Image" />
    </div>

    <div class="content">
        {{> "components/styleguide/lorem_p_1" }}
    </div>

    <p class="additional">
       <a href="#" class="btn small read_more">Read More &raquo;</a>

       <em>By <a href="#">John Parks</a> on 11/15/2014 11:32pm<br>

       In <a href="#">Web Development</a>, <a href="#">Web Design</a><br>

       Tagged <a href="#">Mobile</a>, <a href="#">Responsive Design</a>, <a href="#">Layout</a></em>
    </p>

</article>

<hr>

<article>

    <h2><a href="#">Just Text Post with Categories</a></h2>

    <div class="content">
        {{> "components/styleguide/lorem_p_1_alt" }}
    </div>

    <p class="additional">
       <a href="#" class="btn small read_more">Read More &raquo;</a>

       <em>By <a href="#">Rusty Shackleford</a> on 10/2/2014 1:15pm<br>

       In <a href="#">Typography</a>, <a href="#">Design</a></em>
    </p>

</article>

<hr>

<article>

    <h2><a href="#">1:1 Featured Image with Categories and Tags</a></h2>

    <div class="featured_img">
        <img src="http://lorempixel.com/400/400/nature" title="Test Image" alt="Test Image" />
    </div>

    <div class="content">
        {{> "components/styleguide/lorem_p_2" }}
    </div>

    <p class="additional">
       <a href="#" class="btn small read_more">Read More &raquo;</a>

       <em>By <a href="#">Agent K</a> on 9/25/2014 9:05am<br>

       In <a href="#">Laravel</a>, <a href="#">Object-oriented Design</a><br>

       Tagged <a href="#">Programming</a>, <a href="#">Strategy</a>, <a href="#">Online Learning</a></em>
    </p>

</article>

<hr>

<article>

    <h2><a href="#">Super Long Excerpt with Categories and Vertical Featured Image</a></h2>

    <div class="featured_img">
        <img src="http://lorempixel.com/400/600/nature" title="Test Image" alt="Test Image" />
    </div>

    <div class="content">
        {{> "components/styleguide/lorem_p_long" }}
        {{> "components/styleguide/lorem_p_long" }}
    </div>

    <p class="additional">
       <a href="#" class="btn small read_more">Read More &raquo;</a>

       <em>By <a href="#">Dr. Quinn</a> on 7/4/2014 10:00am<br>

       In <a href="#">Ruby</a>, <a href="#">Angular</a></em>
    </p>

</article>
