<footer>

  {{!--     <p><img src="{{ file.frontMatter.base_url }}{{ img_base_url }}/logo_white.svg" title="Please front-end responsibly." alt="Please front-end responsibly."></p> --}}

  <p class="slogan">Please front-end responsibly.</p>

</footer>
