<h4>Features:</h4>

<ul>
  <li><a href="#config">Custom Configuration</a></li>
  <li><a href="#grid_container">The <code>.grid</code> Container</a></li>
  <li><a href="#floats">Floats, <code>box-sizing</code>, and <code>border-box</code></a></li>
  <li><a href="#widths">Widths</a></li>
  <li><a href="#responsive">Responsive Grids</a></li>
  <li><a href="#gutters">Gutters</a></li>
  <li><a href="#push">Push (offset) Columns</a></li>
  <li><a href="#centering">Centering Columns</a></li>
  <li><a href="#nesting">Nesting</a></li>
  <li><a href="#reversed">Reversed Columns</a></li>
</ul>
