<h4 style="margin-top: 0 !important;">This Layout:</h4>

<ul>
    <li><a href="#styleguide">Styleguide</a></li>
    <li><a href="#hbs">Handlebars Source</a></li>
    <li><a href="#html">HTML Source</a></li>
</ul>

<h4>Configuration:</h4>

<ul id="layout_switcher">
    <li><a href="main.css">Fixed-pixel (default)</a></li>
    <li><a href="px_fluid.css">Fixed-pixel Fluid Content</a></li>
    <li><a href="rem_fixed.css">Fixed-rem</a></li>
    <li><a href="rem_fluid.css">Fixed-rem Fluid Content</a></li>
</ul>