<h4>Features:</h4>

<ul>
    <li><a href="#responsive">Responsive Navbar</a></li>
    <li><a href="#base">Base Navbar</a></li>
    <li><a href="#graphic_brand">Graphic Brand</a></li>
    <li><a href="#left_items">Left Items</a></li>
    <li><a href="#left_right_items">Left &amp; Right Items</a></li>
    <li><a href="#dropdown">Dropdown</a></li>
    <li><a href="#input_group">Input Groups</a></li>
    <li><a href="#affixd">Affix'd Navbar</a></li>
</ul>