<h4>Affixed:</h4>

<p>This is affixed via <code>position: relative;</code> on the sidebar and <code>position: fixed;</code> on it's gutter.</p>

<p>Sidebars are affixed when you add an <code>.affix</code> class to either <code>#sidebar_left</code> or <code>#sidebar_right</code>.</p>