<h4>Features</h4>

<ul>
    <li><a href="#bordered">Bordered</a></li>
    <li><a href="#striped">Striped</a></li>
    <li><a href="#striped_and_bordered">Striped &amp; Bordered</a></li>
    <li><a href="#responsive">Responsive</a></li>
</ul>
