
// Base configuration for a rem-based fixed content layout
$fh_hg_respd_bk_pad         : 1.5rem;
$fh_hg_content_full_w       : 95rem;
$fh_hg_content_full_w_respd : $fh_hg_content_full_w + $fh_hg_respd_bk_pad;
$fh_hg_content_min_w        : 25rem;
$fh_hg_gutter               : 3rem ;
$fh_hg_sidebar_a_w          : 22rem;
$fh_hg_sidebar_b_w          : 18rem;

// Grab commonly-shared alternative layout dependencies
@import "alt_layout_imports";
